

<!DOCTYPE html>
<html lang="en">
<title>CZ3002</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename= 'main.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>All-in-1 School Starter Pack for NTU Students</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{ url_for('homepage2') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{{ url_for('planner') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Planner</a>
    <a href="{{ url_for('view') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">View Timetable</a>
    <a href="{{ url_for('gpa') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">GPA Calculator</a>
    <a href="{{ url_for('partner') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Coursemate Finder</a>
    <a href="{{ url_for('login') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span>All-in-1 School Starter Pack for NTU Students</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Home -->




  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="Planner">

    <h1 class="w3-xxxlarge w3-text-blue"><b>GPA Calculator</b></h1>

  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-light-grey" style="text-align: center">
      <br>
      {% block content %}
            <form action="" method="POST">
                {{ form.csrf_token }}
                Cumulative GPA:
                {{ form.cgpa }}
                Total credits earned:
                {{ form.creditearned }}
                <br>
                <br>
  </div>
    <br>
    <div class="w3-light-grey" style="text-align: center">
        <br>
                Course grade:
                {{ form.grade1 }} -->
                Course credit:
                {{ form.credit1 }}
                <br>
                <br>

                Course grade:
                {{ form.grade2 }} -->
                Course credit:
                {{ form.credit2 }}
                <br>
                <br>
                Course grade:
                {{ form.grade3 }} -->
                Course credit:
                {{ form.credit3 }}
                <br>
                <br>
                Course grade:
                {{ form.grade4 }} -->
                Course credit:
                {{ form.credit4 }}
                <br>
                <br>
                Course grade:
                {{ form.grade5 }} -->
                Course credit:
                {{ form.credit5 }}
                <br>
                <br>
                Course grade:
                {{ form.grade6 }} -->
                Course credit:
                {{ form.credit6 }}
                <br>
                <br>
                Course grade:
                {{ form.grade7 }} -->
                Course credit:
                {{ form.credit7 }}
                <br>
                <br>
                Course grade:
                {{ form.grade8 }} -->
                Course credit:
                {{ form.credit8 }}
                <br>
                <br>
                {{ form.submit}}
                <input type="button" onClick= location.reload(); value="Reset"/>
            </form>

            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            {{table|safe}}

    {% endblock %}
    <br><br>
  </div>
    <br>









  <!-- Services -->


  <!-- Designers -->


  <!-- The Team -->


  <!-- Packages / Pricing Tables -->




  <!-- Contact -->


<!-- End page content -->


<!-- W3.CSS Container -->
<br>
<br>
<p class="w3-center" >© 2021 Pancakes</p>


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>


