<!DOCTYPE html>
<html lang="en">
<title>CZ3002</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename= 'main.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>s
<body>

<!-- Sidebar/menu find w3-blue in css to change colour!!-->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>All-in-1 School Starter Pack for NTU Students</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{ url_for('homepage') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{{ url_for('login') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a>
    <a href="{{ url_for('register') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Register</a>



  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span>All-in-1 School Starter Pack for NTU Students</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">



  <!-- Modal for full size images on click-->








<!-- FORM HERE-->
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
  <!-- Contact find w3-text-red to change the big text colour-->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <br>

    <br>

    <div class="w3-light-grey" style=" width: 40%; position: absolute; padding-left: 2%">
      <br>
            {% block content %}
            <br>
            <br>
            <h1 class="w3-xxxlarge w3-text-blue"><b>Login</b></h1>

            <p>Enter your NTU username and password to login. Please register if you do not have an account.</p>
            {% if errflag %}
            <h5 style="color: red;" >Incorrect or invalid password. Please re-enter password.</h5>
            {% endif %}
            <form action="" method="post">
              {{ form.csrf_token }}
              <div class="w3-section">
                {{ wtf.form_field(form.username) }}
              </div>
              <div class="w3-section">

                {{ wtf.form_field(form.password) }}
              </div>

              <div class="w3-section">
                <label>Remember:</label>
                {{ form.remember }}
              </div>
              <br>
              <button class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom" type="submit">Login</button>
              {{ form.submit }}
              <br>
              <br>

            </form>
        <p class="w3-center" >Follow us on:</p>
        <img src="static/social.png" width="190" height="100" style="margin-left: 42%;">
        <br>
        <br>
        <br>
        <p class="w3-center" >© 2021 Pancakes</p>
            {% endblock %}
    </div>

  </div>


<!-- End page content -->
</div>

<!-- W3.CSS Container -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
