

<!DOCTYPE html>
<html lang="en">
<title>CZ3002</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename= 'main.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>All-in-1 School Starter Pack for NTU Students</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{ url_for('homepage2') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="{{ url_for('planner') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Planner</a>
    <a href="{{ url_for('gpa') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">GPA Calculator</a>
    <a href="{{ url_for('partner') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Coursemate Finder</a>
    <a href="{{ url_for('login') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span>All-in-1 School Starter Pack for NTU Students</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Home -->




  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="Planner">

    <h1 class="w3-xxxlarge w3-text-red"><b></b></h1>
    <h1 style="text-align: center;">
    Choose the course to find your coursemates in!
    </h1>
    <h2 class="w3-opacity" style="text-align: center;">
    <select name="course_code" id="course_code" style="text-align: center;">
      <option value="course1">CZ3007: Compiler Techniques</option>
      <option value="course2">CZ4041: Machine Learning</option>
      <option value="course3">CZ4071: Network Science</option>
      <option value="course4">MH1812: Discretly Discrete Mathematics</option>
    </select>
    <button>
      Next
    </button>
    </h2>
   

  </div>
  <div style="text-align: center;width:50%;margin-left:30%;">
    <p>
      <ol>
        <li> <a href=""> dongmei001@e.ntu.edu.sg</a></li>
        <li> <a href="">lingqi004@e.ntu.edu.sg</a></li>
        <li><a href="">jaewon002@e.ntu.edu.sg</a></li>
        <li><a href="">jefferey004@e.ntu.edu.sg</a></li>
        <li><a href="">matthew012@e.ntu.edu.sg</a></li>
        <li><a href="">jaychou032@e.ntu.edu.sg</a></li>
      </ol>
    </p>
  </div>


<!-- End page content -->


<!-- W3.CSS Container -->
<br>
<br>
<p class="w3-center" >© 2021 Pancakes</p>
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>


